services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: domdb
      POSTGRES_USER: domuser
      POSTGRES_PASSWORD: dompass
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    ports:
      - '6379:6379'
volumes:
  pgdata:
